body {
    justify-content: center;
    background-color: green;
}

img {
    width: 240px;
    margin: 8px;
}

#dealer-section {
    height: 600px;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
}

#player-section {
    height: 600px;
    display: flex;
    border: 2px solid black;
    align-items: center;
    flex-direction: column;
}

#div-button-restart {
    text-align: center;
    margin: 15px;
}